::range-track {
  background: var(--color-ghost);
  height: 2px;
  width: 100%;
}
::range-thumb {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: var(--color-white);
  box-shadow: 0px 2px 4px var(--color-shadow);
  width: 23px;
  height: 23px;
  &:active,
  &:hover {
    background: var(--color-violet);
  }
}
p {
  font-size: var(--f-size-big);
  margin: 5px;
  text-align: left;
}
input {
  background-color: transparent;
}
